<h2> 

  <%= @question.title %> 
</h2>

<p> <%= @question.body %> </p>

<p>By <%= @question.user&.full_name || "[DELETED]" %> </p>

<%= react_component(
  "LikeWidget",
  { 
    questionId: @question.id, 
    likedId: @like&.id, 
    likeCount: @question.likes.count 
  }
  ) 
%>

<p>
  <strong>Tags:</strong>
  <%= @question.tags.order(name: :asc).map{ |t| t.humanized_name }.join(", ") %>
</p>

<div> 
    <small>
        Posted <%= time_ago_in_words(@question.created_at) %> ago
    </small>
    •
    <small>
        Last edited <%= time_ago_in_words(@question.updated_at) %> ago
    </small>
    •
    <small>
        Seen <%= @question.view_count %> time(s)
    </small>

</div>

  <div>

    <small>
      <% if user_signed_in? && can?(:like, @question) %>
        <% if @like.present? %>
          <%= link_to(
            "Unlike",
            like_path(@like),
            method: :delete
          ) %>
        <% else %>
          <%= link_to(
            "Like",
            question_likes_path(@question),
            method: :post
          ) %>
        <% end %>
        •
      <% end %>
      <%= pluralize(@question.likes.count, "like") %>
    </small>

    <% if user_signed_in? && can?(:edit, @question) %>
        <small>
          <%= link_to "Edit", edit_question_path(@question) %>
        </small>
    <% end %>
    <% if user_signed_in? && can?(:delete, @question) %>
        <small>
          <%= link_to(
            "Delete",
            question_path(@question),
            method: :delete,
            data: {
                confirm: "Are you sure?"
                }
          ) %>
        </small>
    <% end %>
  </div>

<h2>Answers</h2>

<%#
  To tell a form_for that we're creating an answer
  that belongs to a question, we must use an array as
  the first argument where its first element is the
  parent question and its second element is the
  new answer.
    When doing this, `form_for` will use different method
  to get the `action` attribute. In this case, it would
  use `questions_answers_path`.
%>

<%= form_for [@question, @answer] do |f| %>
  <%#= f.hidden_field :question_id, value: @question.id %>

    <% if @answer.errors.present? %>
        <p>
        <%= @answer.errors.full_messages.join(', ') %>
        </p>
    <% end %>

  <div>
    <%= f.text_area(
      :body, cols: 60, rows: 6,
      placeholder: "What are your thoughts?"
    ) %>
  </div>

  <%= f.submit "Submit" %>
<% end %>

<section class="answer-list">
  <% @answers.each do |answer| %>
    <article id="<%= dom_id(answer) %>">
      <% vote = answer.vote_for(current_user) %>

      <div class="vote-widget">
        <% if vote&.up? %>
          <%= link_to(
            "Up",
            vote_path(vote),
            method: :delete,
            class: "vote-up vote-active"
          ) %>
          <span><%= answer.vote_tally %></span>
          <%= link_to(
            "Down",
            vote_path(vote, {up: false}),
            method: :patch,
            class: "vote-down"
          ) %>
        <% elsif vote&.down? %>
          <%= link_to(
            "Up",
            vote_path(vote, {up: true}),
            method: :patch,
            class: "vote-up"
          ) %>
          <span><%= answer.vote_tally %></span>
          <%= link_to(
            "Down",
            vote_path(vote),
            method: :delete,
            class: "vote-down vote-active"
          ) %>
        <% else %>
            <%= link_to(
              "Up",
              answer_votes_path(answer, {up: true}),
              method: :post,
              class: "vote-up"
            ) %>
            <span><%= answer.vote_tally %></span>
            <%= link_to(
              "Down",
              answer_votes_path(answer, {up: false}),
              method: :post,
              class: "vote-down"
            ) %>
        <% end %>
      </div>

      <div>
        <p>
          <strong>
            <%= answer.user&.full_name || "[DELETED]" %> answered:
          </strong> <br />
          <%= answer.body %> <br />

          <% if user_signed_in? && can?(:delete, answer) %>
          <small>
            <%= link_to(
              "Delete",
              question_answer_path(@question, answer),
              # method: :delete,
              class: "btn-delete",
              data: {
                id: answer.id,
                # confirm: "Are you sure?"
              }
            ) %>
          </small>
          •
          <% end %>
          <small>
            Answered <%= time_ago_in_words(answer.created_at) %> ago
          </small>
        </p>
      </div>
    </article>
    <hr>
  <% end %>
</section>